<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creating layout</title>
</head>
<center>
    <h1>
        create a layout
    </h1>
</center>
<body>

        <table border="1" style="border-collapse: collapse;">
            <tbody>
                <th colspan="2">Mobail store| up to 50% </th>
                <tr>
                    <td>
                        <img src="./pexels-mohi-syed-50614.jpg" height="200" width="100"  alt="">
                        
                    </td>
                    <td>
                        <img src="./pexels-tracy-le-blanc-607812.jpg" height="200" width="100" alt="">
                    </td>

                </tr>
                
                <tr>
                    <td>
                        <img src="./pexels-essow-k-1042143.jpg" height="200" width="100" alt="">
                    </td>
                    <td>
                        <img src="./pexels-henry-&-co-1939485.jpg"
                        height="200" width="100" alt="">
                    </td>
                </tr>
            </tbody>
        
        </table>
    
  
</body>
</html>