/* body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;


}
#container {
width: 700px;
height: 100%;
border: 1px solid white;
padding: 20px;
background: #000;
transition-property: all;
transition-duration: is;
transition-timing-function: ease-in-out ;
box-shadow: 0px 0px 30px white;
}
h1,
#sub{
    text-align: center;
} */
